.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h3 {
  display: inline;
}

.nav__options {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
