.profile__item {
  display: grid;
  grid-template-areas: "avatar name" "avatar job";
  grid-template-columns: 1fr 4fr;
  cursor: pointer;
}

.profile__avatar {
  grid-area: avatar;
  aspect-ratio: 1/1;
  width: 2rem;
  border-radius: 50%;
  justify-self: center;
}

.profile__name {
  grid-area: name;
  font-weight: 700;
}

.profile__job {
  grid-area: job;
  font-size: 0.8rem;
}
